// !/usr/bin/env python
//
// All rights reserved.
// @link hrforce.ai
//
// __author__ = "phamanhhuy22@gmail.com"
// __date__ = "2025-02-01 12:41:42"
//
.cropper_wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
    display: flex;
    justify-content: center;

    :global {
        .reactEasyCrop_CropArea {
            &::before {
                border: none;
            }

            &::after {
                border: none;
            }
        }
    }
}
