NEXT_PUBLIC_GOOGLE_TAGS_MANAGEMENT={{GOOGLE_TAGS_MANAGEMENT}}
NEXT_PUBLIC_GOOGLE_CLIENT_ID={{GOOGLE_CLIENT_ID}}
NEXT_PUBLIC_FACEBOOK_APP_ID={{FACEBOOK_APP_ID}}
NEXT_PUBLIC_BLOGSAPI_URL={{ BLOGSAPI_URL }}
NEXT_PUBLIC_BLOGSUI_URL={{ BLOGSUI_URL }}