$heightDefault: 44px;
$fontSizeS: 20px;

.password_field {
    height: $heightDefault;
    border-color: var(--border-color-default);

    .eye_icon {
      cursor: pointer;
      font-size: $fontSizeS;
    }
}
