// !/usr/bin/env python
//
// All rights reserved.
//
// __author__ = "phamanhhuy22@gmail.com"
// __date__ = "2025-02-01 12:41:42"
//
.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 34px;
    gap: 8px;
    .input_number {
        margin-inline: 0 !important;
        width: 68px;
    }
}
